html, body {
  margin: 0;
  padding: 1% 2%;
  text-align: center;
}

input[type="text"] {
  width: 50%;
  padding: 30px;
  border: solid black 5px
}

.main-header {
  background-color: #243947;
  color: white;
  border-radius: 20px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.header-image {
  max-width: 150px;
  max-height: 150px;
}

.admin-button {
  display: flex;
  align-content: flex-start;
  margin-left: 20px;
  background-color: beige;
  color: black;
  border-radius: 20px;
}

.password-input {
  margin: 20px;
}

.password-button {
  margin: 20px;
  padding: 30px;
  background-color: beige;
  color: black;
  border-radius: 50px;
}

.start-button {
  margin: 60px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  border-radius: 100px;
  color: black;
  box-shadow: 2px 2px gray;
  padding: 50px 50px;
  background-color: #5cff59
}

.question-button-group {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.question-button {
  display: flex;
  justify-content: center;
  background-color: beige;
  padding: 100px 100px;
  font-size: 50px;
  border-radius: 100px;
  max-width: 300px;
}

.next-button-group {
  display: flex;
  justify-content: space-between;
}

.next-button, .back-button {
  display: flex;
  justify-content: center;
  font-size: 40px;
  border-radius: 100px;
  max-width: 200px;
  color: black;
  box-shadow: 2px 2px gray;
  padding: 50px 50px;
}

.next-button {
  background-color: #5cff59;
}

.next-button:hover {
  text-decoration: none;
  color: black;
}

.back-button {
  background-color: #ff5151;
  border-radius: 100px
}

.back-button:hover {
  text-decoration: none;
  color: black;
}

.next-button:hover {
  text-decoration: none;
  color: black;
}

.submit-button {
  font-size: 50px;
  padding: 80px 0px;
  display: block;
  width: 100%;
  background-color: cyan;
  border-radius: 100px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.pass-button {
  font-size: 50px;
  padding: 20px 0px;
  display: block;
  width: 100%;
  background-color: cyan;
  border-radius: 100px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.height15px {
  height: 15px;
}

.btn {
  margin-bottom: 15px !important;
}

.logOutBtn {
  margin-left: 15px;
}
